<div class='inicio_datos tab-pane' id="tab2">
  <% if @tarea.logicas_pendientes? %>
      <% if @tarea.una_sola_logica? %>
          <%= f.hidden_field :logica_relacionada_id, :value => @tarea.logica_pendiente.id %>
          <% if @tarea.logica_pendiente.dos_rutas_pendientes? %>
              <div class="control-group logic-answer">
                <%= f.label :tipo_logica, required_label('Rutas Lógicas'), class: 'control-label' %>
                <div class="controls">
                  <%= f.select :tipo_logica, @tarea.logica_pendiente.logica_rutas_pendientes.map{ |t| [t,t.downcase] }, :prompt => true %>
                </div>
              </div>
          <% elsif @tarea.logica_pendiente.dos_rutas_posibles? %>
            <div class="control-group logic-answer">
              <%= f.label :tarea_ant_id, required_label('Rutas Lógicas'), class: 'control-label' %>
              <div class="controls">
                <%= f.collection_select :tarea_ant_id, @tarea.logica_pendiente.dos_rutas_posibles, :id, :tipo_logica_log, :prompt => true %>
              </div>
            </div>
          <% else %>
              <%= f.hidden_field :tipo_logica, :value => @tarea.logica_pendiente.tipo_logica_pendiente %>
          <% end %>
          <%= f.hidden_field :tarea_ant_id, :value => @tarea.logica_pendiente.id unless @tarea.logica_pendiente.dos_rutas_posibles? %>
      <% else %>
          <div class="control-group logic-answer">
            <%= f.label :tipo_logica, required_label('Lógicas Pendientes'), class: 'control-label' %>
            <div class="controls">
              <%= collection_select :logicas, :abiertas, @tarea.logicos_pendientes, :id, :nombre, :prompt => true %>
              <%= f.hidden_field :tarea_ant_id %>
              <%#= f.hidden_field :tipo_logica %>
              <%= f.hidden_field :logica_relacionada_id %>
            </div>
          </div>
          <div class='control-group' style='display:none'>
            <label class='control-label'>Ruta Logica</label>
            <div class="controls" id="tarea_logica"><%= f.collection_select :tipo_logica, {}, :id, :nombre, :prompt => '-- Vacío --' %></div>
          </div>

          <div class='control-group' style='display:none'>
            <label class='control-label'>Tarea Anterior</label>

            <div class="controls" id="tarea_anterior_desc"><%= @tarea.logica_pendiente.nombre %></div>
          </div>
      <% end %>
  <% end %>

  <% if @tarea.respuestas_pendientes? %>
      <% if @tarea.dos_respuestas_pendientes? %>
          <div class='control-group logic-pends'>
            <%= f.label :tarea_ant_id, required_label('Rutas Lógicas'), class: 'control-label' %>
            <div class="controls">
              <%= f.collection_select :tarea_ant_id, @tarea.respuestas_logicas_pendientes, :id, :tipo_logica_sup, {:prompt => true}, {:class => 'dos-respuestas'} %>
            </div>
            <%= f.hidden_field :tipo_logica %>
          </div>
          <div class="control-group logic-answer" style="display:none">
            <label class="control-label">Tarea Anterior</label>
            <div class="controls" id="tarea_anterior_desc">
              <% @tarea.respuestas_logicas_pendientes.each do |t| %>
                  <p id="<%= t.tipo_logica %>" class="ant-desc-cont"><%= t.nombre %></p>
              <% end %>
            </div>
          </div>
      <% elsif !@tarea.logica_pendiente.dos_rutas_posibles? %>
          <%= f.hidden_field :tarea_ant_id, :value => @tarea.respuesta_pendiente.id %>
          <%= f.hidden_field :tipo_logica, :value => @tarea.respuesta_pendiente.tipo_logica %>
          <div class="control-group logic-answer">
            <label class="control-label">Tarea Anterior</label>
            <div class="controls" id="tarea_anterior_desc">(<%= @tarea.respuesta_pendiente.tipo_logica_sup %>) <%= @tarea.respuesta_pendiente.nombre %></div>
          </div>
      <% end %>
  <% end %>

  <% if !@tarea.respuestas_pendientes? && !@tarea.logicas_pendientes? %>
    <%= f.hidden_field :tarea_ant_id %>
  <% end %>

  <div class="control-group name">
    <%= f.label :nombre, required_label('Nombre'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre %>
    </div>
  </div>

  <div class="control-group logic-values">
    <%= f.label :tarea_sgt_id, required_label('Tarea SI'), class: 'control-label' %>
    <div class="controls">
      <%= f.select :tarea_sgt_id, options_for_select([['-- Nueva --', '']].concat(@tarea.otras_tareas.map { |t| [t.orden_nombre, t.id] })) %>
    </div>
  </div>

  <div class="control-group logic-values">
    <%= f.label :tarea_alt_id, required_label('Tarea NO'), class: 'control-label' %>
    <div class="controls">
      <%= f.select :tarea_alt_id, options_for_select([['-- Nueva --', '']].concat(@tarea.otras_tareas.map { |t| [t.orden_nombre, t.id] })) %>
    </div>
  </div>

  <div class="control-group method">
    <%= f.label :metodo, required_label('Método'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :metodo %>
    </div>
  </div>

  <div class="control-group destiny">
    <%= f.label :estructura_destino_id, required_label('Destino'), class: 'control-label' %>
    <div class="controls">
      <%= collection_select :estructura, :destino_id, Estructura.all, :id, :nombre, :prompt => true %>
      <%= f.collection_select :cargo_estructura_destino_id, {}, :id, :nombre, :prompt => true %>
    </div>
  </div>

  <div class="control-group exec_time">
    <%= f.label :tiempo_ejecucion, required_label('Tiempo de Ejecución'), class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :tiempo_ejecucion, style: 'width:50px', min: 1 %>
      <%= f.collection_select :unidad_tiempo_id, UnidadTiempo.all, :id, :nombre, { :prompt => true }, { style: 'width:155px' } %>
    </div>
  </div>
</div>

<%= linked_combo "tarea_cargo_estructura_destino_id", :linked => "estructura_destino_id",
   :url => cargo_estructuras_path(format: 'json'), :param => "estructura_id", :display => 'descripcion' %>