<% @entes.each do |ente| %>
  <tr>
    <td><%= ente.documento %></td>
    <td><%=  ente.nombre %></td>
    <td><%= ente.apellido  %></td>
    <td><%= ente.telefono %></td>
    <td><%= ente.direccion %></td>
    <td><%= link_to icon_tag('Seleccionar', :class => 'icon-plus'), '#', :onclick => "seleccionarEnte('#{ente.id}', '#{ente.apellido + " " + ente.nombre}', '#{ente.documento}')"%></td> 
<% end %>