<div>
  <fieldset>
    <legend>Formulario de B&uacute;squeda</legend>


    <h3>Buscar Procedimiento</h3>
    <div id="busqueda-procedimientos">
      <%= form_tag procedimientos_path, :remote => true, :method => :get do%>
        <%= label_tag 'Nombre' %>
        <%= text_field_tag 'nombre', params[:nombre] %>
        <%= label_tag 'Subproceso' %>
        <%= select_tag "subproceso", options_from_collection_for_select( Subproceso.all, "id", "nombre" ), :prompt => "-- Seleccionar --" %> 
        <%= submit_tag 'Buscar', :class => 'btn', :name => nil %>
      <% end %>
    </div>

  </fieldset>
</div>

<div>
  <fieldset>
    <legend>Resultados</legend>
    <table id="tabla-resultados-procedimientos" class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Acci&oacute;n</th>
        </tr>
      </thead>
      <tbody>
        <% procedimientos = Procedimiento.all %>
        <% procedimientos.take(10).each do |procedimiento|  %>
          <tr>
            <td><%= link_to procedimiento.nombre, '#', :onclick =>  "seleccionarProcedimiento('#{procedimiento.id}', '#{procedimiento.nombre}')" %></td>
            <td><%= link_to icon_tag('Seleccionar', :class => 'icon-plus'), '#', :onclick => "seleccionarProcedimiento('#{procedimiento.id}', '#{procedimiento.nombre}')" %></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </fieldset>
</div>
