<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Comprobante de Entrada</h3>
</div>
<div class="modal-body" id="print-area">
  <p><b>Numero: </b><%= @expediente.numero %></p>

  <p><b>Contrase&ntilde;a: </b><%= @expediente.clave %></p>

  <p><b>Cliente: </b><%= @expediente.ente.nombre_completo %></p>

  <p><b>Fecha de Entrada: </b><%= @expediente.created_at %></p>

  <p><b>Recibido por: </b><%= @expediente.tareas_expedientes.first.usuario_fin.login %></p>
</div>
<%= button_tag icon_tag('Imprimir', :class => 'icon-print icon-white'), class: 'btn btn-success', :onclick => 'imprimirComprobanteEntrada()'  %>