<ul class="nav nav-tabs">
  <li class="tab active"><%= link_to 'Persona Física', '#', :class => 'pf' %></a></li>
  <li class="tab"><%= link_to 'Persona Jurídica Interna', '#', :class => 'pji'  %></li>
  <li class="tab"><%= link_to 'Persona Jurídica Externa', '#', :class => 'pje' %></li>
</ul>

<%= simple_form_for @expediente, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>

  <% if @expediente.errors.any? %>  
    <div class="alert alert-block alert-error">  
      <h4 class="alert-heading"><%= pluralize(@expediente.errors.count, "error") %> 
        <%= @expediente.errors.count > 1 ? 'han' : 'ha' %> impedido que el registro sea guardado:</h4>  
      <ul>  
        <% @expediente.errors.full_messages.each do |msg| %>  
          <li><%= msg %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>  

  <div class="rows">
    <div class="span10 well cajaexp" style="background-color:#F5FFC0">
      <h4>Datos Básicos</h4>
      <hr />
      <div class="control-group select required">
        <label class="optional inline-inputs">Fecha de Ingreso</label>
        <div class="controls"><%= l(Time.now, :format => :fecha) %></div>

      </div>      
      <div class="control-group">
        <%= f.label :ente_id, 'Cédula/Nombre y Apellido', :class => 'control-label', :id => 'ente_label' %>
        <div class="controls">          
          <div class="input-append">            
            <%= text_field_tag :expediente_numero_documento, nil, :style => 'width: 80px'  %>
            <%= f.hidden_field :ente_id %>
            <%= text_field_tag :ente_nombre, nil, :class => 'span9', :readonly => true, :id => 'nombre-ente' %>
            <button class="btn" type="button" onclick="mostrarPopup()"><i class="icon-search"></i></button>
            <button class="btn btn-limpiar" type="button" rel="ente" title="Limpiar campo"><i class="icon-remove-sign"></i></button>            
          </div>
        </div>
      </div>       

      <div class="control-group">
        <%= f.label :procedimiento_id, 'Procedimiento', :class => 'control-label' %>
        <div class="controls">
          <div class="input-append">
            <%= text_field_tag :procedimiento_nombre, nil, :class => 'span10', :id => 'nombre-procedimiento', :readonly => true  %>
            <%= f.hidden_field :procedimiento_id %>
            <button class="btn" type="button" onclick="mostrarPopupProcedimientos()"><i class="icon-search"></i></button>
            <button class="btn btn-limpiar" type="button" rel="procedimiento" title="Limpiar campo"><i class="icon-remove-sign"></i></button>            
          </div>
        </div>
      </div>

    </div>
    
  </div>

  <div class="rows control-group">
    <div class="span10 well">
      <h4>Documentos Requeridos</h4>
      <hr />
      <div id="cont_adjunto">
        <%#= f.fields_for :adjuntos_tareas_expedientes do |build| %>
          <%#= render 'campos_adjunto', :f => build %>
        <%# end %>
      </div>

      <%#= link_to_add_fields("Agregar", f, :adjuntos_tareas_expedientes) %>
    </div>

    <div class="span10 well">
      <h4>Descripción</h4>
      <hr />
      <%= f.text_area :descripcion, :cols => 50, :rows => 10, :style => 'width:98%' %>
  <%#= f.input :descripcion, :as => :text, :input_html => { :cols => 50, :rows => 10, :style => 'width:90%' }, :label => false %>
    </div>
  </div>

  <div class="form-actions" style="padding-left: 43px;">
    <%= f.button :submit, 'Guardar', :class => 'btn btn-success' %>
    <%= link_to 'Cancelar', expedientes_path, :class => "btn" %>
  </div>
<% end %>

<div class="modal" id="buscar-modal" style="display: none; width: 660px; padding: 10px">
  <a class="close" data-dismiss="modal">x</a>
</div>

<div class="modal" id="buscar-procedimiento-modal" style="display: none; width: 660px; padding: 10px">
  <a class="close" data-dismiss="modal">x</a>
  <%#= render 'buscar_procedimiento' %>
</div>
<%= javascript_include_tag 'plupload', 'formularios_anidados' %>
<%= stylesheet_link_tag 'jquery.plupload.queue' %>
<script type="text/javascript">
  function mostrarPopup(){
    $.get('<%= buscar_entes_path %>', {}, null, 'script');
//      $('#buscar-modal').modal('toggle');
//      $('#search').focus();
  }
  function mostrarPopupProcedimientos(){
    $.get('<%= buscar_procedimientos_path %>', {}, null, 'script');
    //$('#buscar-procedimiento-modal').modal('toggle');
    //$('#search').focus();
  }
  
  function seleccionarEnte(id, nombre, documento){
    $("#expediente_ente_id").val(id);
    $("#nombre-ente").val(nombre);
    $("#expediente_numero_documento").val(documento);
    $('#buscar-modal').modal('hide');
  }

  function seleccionarProcedimiento(id, nombre){
    $("#expediente_procedimiento_id").val(id);
    $("#nombre-procedimiento").val(nombre);
    $('#buscar-procedimiento-modal').modal('hide');
    $.get('<%= comprobar_adjuntos_path %>', { procedimiento_id: id }, 'null', 'script');
  }
  
  $(function(){
    $('.btn-limpiar').click(function(){      
      var campo = $(this).attr('rel');
      $('#nombre-' + campo).val('');
      $('#expediente_' + campo + '_id').val('');
      if (campo == 'ente')
        $('#expediente_numero_documento').val('');
      return false;
    });
    
     $(function() {

        
        $("#uploader").pluploadQueue({
                runtimes : 'html5,flash,silverlight',
		// General settings
		multipart : true,
                multipart_params : {
                    'authenticity_token' : '<%= form_authenticity_token %>'
                },
                flash_swf_url : 
                    '<%= asset_path "plupload/dependencies/plupload.flash.swf" %>',
                silverlight_xap_url :
                    '<%= asset_path "plupload/dependencies/plupload.silverlight.xap" %>',
                url : '<%= uploads_path %>',
		max_file_size : '10mb',
		chunk_size : '1mb',
		unique_names : true,
    show_header: false,

		// Resize images on clientside if we can
		resize : {width : 320, height : 240, quality : 90},

		// Specify what files to browse for
		filters : [
			{title : "Image files", extensions : "jpg,gif,png"},
			{title : "Zip files", extensions : "zip"}
		]
	});
    });
  });
</script>