<section>  
  <div class="page-header">
    <h1>Expediente</h1>
  </div>

  <div class="row">
    <div class="well-simple span11">
      <div class="btn-group">
        <%= link_to icon_tag('Editar', :class => 'icon-edit icon-white'), edit_expediente_path(@expediente), :class => 'btn btn-primary' %>
        <%= link_to icon_tag('Borrar', :class => 'icon-trash icon-white'), @expediente, confirm: 'Estás seguro?', method: :delete, class: 'btn btn-primary' %>
          <%= link_to icon_tag('Ver Todos', :class => 'icon-arrow-left icon-white'), expedientes_path, class: 'btn btn-primary' %>
          </div>
        </div>


        <div class="span6 well-simple">
          <fieldset>
            <legend>Datos del Expediente</legend>
            <table>
              <tr>
                <th>Fecha de Ingreso: </th>
                <td><%= l(@expediente.created_at) %></td>
              </tr>
              <tr>
                <th>Número: </th>
                <td><%= @expediente.numero_corto %>/<%= @expediente.anyo_ingreso %></td>
              </tr>
              <tr>
                <th>Procedimiento:</th>
                <td><%= @expediente.procedimiento.nombre %></td>
              </tr>
              <tr>
                <th>Solicitante:</th>
                <td>(<%= @expediente.ente.documento %>) <%= @expediente.ente.nombre_completo %></td>
              </tr>
              <tr>
                <th>Estado:</th>
                <td><%= @expediente.estado %></td>
              </tr>
              <tr>
                <th>Ingresado por:</th>
                <td><%= @expediente.usuario.login %></td>
              </tr>
              <tr>
                <th>&iquest;Es copia?:</th>
                <td><%= si_no(@expediente.copia) %></td>
              </tr>
            </table>
          </fieldset>
          
          <div class="btn-group toolbar-rigth">
            <%= link_to icon_tag('Enviar', :class => 'icon-plane icon-white'), '#', :class => 'btn btn-primary' %>
            <%= link_to icon_tag('Editar', :class => 'icon-edit icon-white'), '#', class: 'btn btn-primary' %>
            <%= link_to icon_tag('Anular', :class => 'icon-ban-circle icon-white'), '#', class: 'btn btn-primary' %>            
          </div>
          
        </div>

        <div class="span5 well-simple">          
          <fieldset>
            <legend>Tareas</legend>
            <div class="btn-group">
              <%= link_to icon_tag('Inicar', :class => 'icon-play icon-white'), '#', :class => 'btn btn-primary' %>
              <%= link_to icon_tag('Finalizar', :class => 'icon-ok-sign icon-white'), '#', class: 'btn btn-primary', :disabled => true %>
                <%= link_to icon_tag('Cancelar', :class => 'icon-stop icon-white'), '#', class: 'btn btn-primary', :disabled => true %>
                </div>

                <table>
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th>Nombre</th>
                      <th>Fecha Inicio</th>
                      <th>Tiempo Transc.</th>
                    </tr>              
                  </thead>
                  <tbody class="table table-condensed table-striped">
                    <% @expediente.tarea_siguiente.actividad.tareas.order('orden').limit(3).where('orden >= ?', @expediente.tarea_siguiente.orden).each do |tarea| %>
                      <tr>
                        <td><%= check_box_tag :tarea, tarea.id, false, :disabled => tarea.id != @expediente.tarea_siguiente.id %></td>
                        <td><%= tarea.nombre %></td>
                        <td><%=  %></td>
                        <td><%=  %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </fieldset>                      
            </div>


            <div class="span11 well-simple">
              <fieldset>
                <legend>Descripción del Expediente</legend>
                <%= simple_format(@expediente.descripcion) %>
              </fieldset>
            </div>

            <div class="span11">
              <ul class="nav nav-tabs" id="tab">
                <li class="active">
                  <%= link_to 'Registros Aplicables', '#tab-registros' %>                
                </li>
                <li><%= link_to 'Documentos', '#tab-documentos', 'data-togle' => 'tab' %></li>
                <li><%= link_to 'Observaciones', '#tab-observaciones', 'data-togle' => 'tab' %></li>
                <li><%= link_to 'Seguimiento', '#tab-seguimiento', 'data-togle' => 'tab' %></li>
              </ul>
            </div>
            <div class="span11">
              <div id="tabContent" class="tab-content">
                <div id="tab-registros" class="tab-pane active">
                  <table class="table table-condensed table-striped">
                    <thead>
                      <tr>
                        <th>Registros Aplicables - Tarea Actual</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% 10.times do %>
                        <tr>                      
                          <td>Lorem Ipsum has been the</td>
                          <td><span class="label label-success">Requerido</span></td>
                          <td><span class="label label-success">Íntegro</span></td>
                          <td><button class="btn btn-primary">Acciones</button></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                
                <div id="tab-documentos" class="tab-pane">
                  
                  <ul class="nav nav-tabs" id="tabDocs">
                    <li class="active">
                      <%= link_to 'Aportados por el ciudadano', '#tab-docs-ciudadano' %>                
                    </li>
                    <li><%= link_to 'Todos los documentos', '#tab-docs-all', 'data-togle' => 'tab' %></li>                    
                  </ul>                  

                  <div id="tabDocContent" class="tab-content">
                    <div id="tab-docs-ciudadano" class="tab-pane active well">
                      <div class="btn-group">
                        <%= link_to icon_tag('Nuevo documento', :class => 'icon-play icon-white'), '#', :class => 'btn btn-primary' %>
                        <%= link_to icon_tag('Descargar en zip', :class => 'icon-ok-sign icon-white'), '#', class: 'btn btn-primary' %>                        
                      </div>

                      <table class="table table-condensed table-striped">                        
                        <tbody>
                          <% 10.times do %>
                            <tr>                      
                              <td>Lorem Ipsum has been the</td>                              
                              <td><button class="btn btn-primary">Acciones</button></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>

                    <div id="tab-docs-all" class="tab-pane">
                      all docs
                    </div>
                  </div>                                      
                </div>
                
                <div id="tab-observaciones" class="tab-pane">
                  observaciones
                </div>
                
                <div id="tab-seguimiento" class="tab-pane">
                  seguimiento
                </div>
              </div>              
            </div>
          </div>
        </section>

  <% content_for :javascripts do %>
  <script type="text/javascript">
    $('#tab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
    
    $('#tabDocs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
  </script>  
  <% end %>