<section>

<% if params[:tiempos_demorados][:expediente]=="2" and params[:tiempos_demorados][:filtro]=="1" then %>
<%= render 'reporte_601' %>
<% elsif params[:tiempos_demorados][:expediente]=="2" and params[:tiempos_demorados][:filtro]=="2" then %>
<%= render 'reporte_602' %>
<% elsif params[:tiempos_demorados][:expediente]=="2" and params[:tiempos_demorados][:filtro]=="3" then %>
<%= render 'reporte_603' %>
<% elsif params[:tiempos_demorados][:expediente]=="1" and params[:tiempos_demorados][:filtro]=="1" then %>
<%= render 'reporte_604' %>
<% elsif params[:tiempos_demorados][:expediente]=="1" and params[:tiempos_demorados][:filtro]=="2" then %>
<%= render 'reporte_605' %>
<% elsif params[:tiempos_demorados][:expediente]=="1" and params[:tiempos_demorados][:filtro]=="3" then %>
<%= render 'reporte_606' %>
<% end %>

<p>Tiempo de Demora(+/-)<br />
<font color="#FF0000"><b>[+]</b> Tiempo excedido al tiempo estimado de proceso</font><br />
<font color="#00FF00"><b>[-]</b> Tiempo restante queda para culminar el proceso dentro del tiempo estimado</font>
</p>
</section>