<section>
  <div class="alert-message notice" style="margin-top:20px;">    
    <p><%= notice %></p>
  </div> 

  <div class="page-header">
    <h1>cargo</h1>
  </div>

   <div class="well">
    <%= link_to 'Editar', edit_cargo_path(@cargo), :class => 'btn primary' %>
    <%= link_to 'Borrar', @cargo, confirm: 'Estás seguro?', method: :delete, class: 'btn' %>
    <%= link_to 'Ver Todos', cargos_path, class: 'btn' %>
  </div>

      <p>
      <b>Nombre:</b>
      <%= @cargo.nombre %>
    </p>

  </section>
