<section>
  <div class="alert-message notice" style="margin-top:20px;">    
    <p><%= notice %></p>
  </div> 

  <div class="page-header">
    <h1>permiso</h1>
  </div>

   <div class="well">
    <%= link_to 'Editar', edit_permiso_path(@permiso), :class => 'btn primary' %>
    <%= link_to 'Borrar', @permiso, confirm: 'Estás seguro?', method: :delete, class: 'btn' %>
    <%= link_to 'Ver Todos', permisos_path, class: 'btn' %>
  </div>

      <p>
      <b>Descripcion:</b>
      <%= @permiso.descripcion %>
    </p>

  </section>
