<%= simple_form_for @persona_juridica, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  
    <%= f.input :nombre %>
    <%= f.input :apellido %>
    <%= f.input :documento %>
    <%= f.input :direccion %>
    <%= f.input :telefono %>
    <%= f.input :territorio_id %>
    <%= f.input :cargo_id %>


  <div class="form-actions">
    <%= f.button :submit, 'Guardar', :class => 'btn btn-success' %>
    <%= link_to 'Cancelar', personas_juridicas_path, :class => "btn" %>
  </div>
<% end %>
