<div class="well">
  <%= link_to icon_tag('Volver', :class => 'icon-arrow-left icon-white'), informes_path, class: 'btn btn-primary' %>
  </div>
  <h1>Informes: Rendimiento del Personal</h1>
  <% if !@resultados.present? %>
    <%= simple_form_for controller_name, :method => :get do |f| %>
      <!--Fechas -->
      <%= f.input 'fecha_inicio', :input_html => {:class => "datepicker", :autocomplete => 'off'} %>
      <%= f.input 'fecha_fin', :input_html => {:class => "datepicker" }, :autocomplete => 'off'%>
      <!--Estructura y cargo -->
      <%= f.input 'estructura', :collection => Estructura.all, :label_method => :nombre, :prompt => '-- Seleccione --', :label => "Estructura", input_html:  {id: 'estructura_id'}%>
      <%= f.input 'cargo', :collection => Cargo.all, :label_method => :nombre, :prompt => '-- Seleccione --', :label => "Cargo", input_html:  {id: 'cargo_id'} %>
      <%= linked_combo 'cargo_id', :linked => 'estructura_id', :param => 'estructura_id', :url => '/cargos.json' %>
      
      <!--Funcionario-->  
      <%= f.input 'funcionario', :input_html => { :class => 'input-xlarge'} %>
      
      <%= f.input 'tipo', :collection => {'Anhos' => 'YEAR', 'Meses' => 'MONTH', 'Dias' => 'DAY'}, :prompt => '-- Seleccione --', :label => 'Mostrar en Formato' %>

      <%= f.hidden_field 'filtro', :value => 'resumen'%>

      <div class="form-actions">
        <%= f.button :submit, 'Buscar', class: 'btn btn-success' %>
        </div>

      <% end %>
    <% else %>
      <script type="text/javascript">
        $(function() {
          new Highcharts.Chart({
            chart: {
              renderTo: "chart",
              type: "column"
            },
            title: {
              text: "Resumen de Expedientes"
            },
          
            xAxis: {
      <% case @tipo.to_s %>
      <% when 'MONTH' %>
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      <% when 'YEAR' %>
                categories: ['2012', '2013']
      <% when 'DAY' %>
                categories: [
        <%  @resultados.each do |r| %>
          <%= r.fecha_finalizo.to_datetime.strftime('%d') %>,
        <% end %>
                ]
      <%  else %>
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      <% end %>
            },
            yAxis: {
              title: {
                text: "Dias"
              }
            },
            tooltip: {
              formatter: function() {
                return '<b>'+ this.series.name +'</b><br/>'+
                  this.x +': '+ this.y;
              }
            },
            series: [
              {
      <% case @tipo.to_s %>
      <% when 'MONTH' %>
                  data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
      <% when 'YEAR' %>
                  data: [100, 160]
      <% when 'DAY' %>
                  data: [

        <%  @resultados.each do |r| %>
          <%= r.contador %>,
        <% end %>
                    
                  ]
      <%  else %>
                  data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
      <% end %>
              },
            ]
          });
        });
      </script>

      <div id="chart" style="width: 560px; height: 300px;"></div>

      <table>
        <tr>
          <th>Cantidad</th>
          <th>Fecha</th>
        </tr>

        <% @resultados.each  do |f| %>
          <tr>
            <td><%= f.contador %> </td>
            <td><%= f.fecha_finalizo %> </td>
          </tr>
        <% end %>
      </table>
    <% end %>