<h2 style="text-align:center;background-color:#ccc">Sub Proceso</h2>
<div class='well' style='padding: 5px;'>
	<div class="span8 pull-left">
		<%= image_tag 'icons/subproceso.png' %> <%= @subproceso.nombre %>
	</div>
	<div class="span2 pull-right">
		<%= link_to icon_tag('Editar', :class => 'icon-pencil'), 
		edit_subproceso_path(id: @subproceso, from: 'tree'), remote: true %>

		<%= link_to icon_tag('Eliminar', :class => 'icon-trash'), subproceso_path(@subproceso), 
		:title => 'Eliminar subproceso', :method => :delete, :remote => true,
		:confirm => "¿Está seguro de eliminar este subproceso?.\nEsta acción no se puede revertir" %> 
	</div>
</div>
<table class="table">
	<tbody>
		<tr>
			<th>C&oacute;digo</th>
			<td><%= @subproceso.codigo %></td>
		</tr>
		<tr>
			<th>Nombre</th>
			<td><%= @subproceso.nombre %></td>
		</tr>
		<tr>
			<th>Objetivo</th>
			<td><%= @subproceso.objetivo %></td>
		</tr>
		<tr>
			<th>Fecha de Elaboración</th>
			<td><%= format_date(@subproceso.created_at) %></td>
		</tr>
		<tr>
			<th>Cargo Responsable</th>
			<td><%#= @subproceso.cargo.nombre %></td>
		</tr>		
	</tbody>
</table>

<table class="table">
	<thead>
		<tr style="background-color:#ccc">
			<th colspan="2" style="text-align:center;">
				<h3>Procedimientos</h3>					
			</th>
			<td class="add-place"><%= link_to icon_tag('Agregar', :class => 'icon-plus-sign'), new_procedimiento_path(:from => 'tree', :subproceso_id => @subproceso.id), :id => 'add-proceso', :class => 'btn pull-right', :remote => true %></td>
		</tr>
		<% if @procedimientos.present? %>
			<tr>
				<th>Nombre</th>
				<th>Fecha</th>
				<th>&nbsp;</th>
			</tr>
		<% end -%>
	</thead>
	<tbody id='pso-body'>
		<% if @procedimientos.present? %>
			<% for procedimiento in @procedimientos -%>
				<tr id="pso-<%= procedimiento.id %>">
					<%= render 'subprocesos/procedimiento', :procedimiento => procedimiento %>
				</tr>
			<% end -%>
		<% else -%>
			<tr>
				<td colspan="3" class='alert alert-warning'>No hay registros</td>
			</tr>
		<% end -%>
	</tbody>
</table>