<h2 style="text-align:center;background-color:#ccc">Sub Proceso</h2>
<table class="table">
	<tbody>
		<tr>
			<th>C&oacute;digo</th>
			<td><%= @subproceso.codigo %></td>
		</tr>
		<tr>
			<th>Nombre</th>
			<td><%= @subproceso.nombre %></td>
		</tr>
		<tr>
			<th>Objetivo</th>
			<td><%= @subproceso.objetivo %></td>
		</tr>
		<tr>
			<th>Fecha de Elaboración</th>
			<td><%= format_date(@subproceso.created_at) %></td>
		</tr>
		<tr>
			<th>Cargo Responsable</th>
			<td><%= @subproceso.cargo.nombre %></td>
		</tr>		
	</tbody>
</table>

<table class="table">
	<thead>
		<tr>
			<th colspan="4" style="text-align:center;background-color:#ccc"><h3>Procedimientos<h3></th>
		</tr>
		<tr>
			<th>Nombre</th>
			<th>Fecha</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% for procedimiento in @procedimientos -%>
			<tr>
				<td><%= procedimiento.nombre %></td>
				<td><%= format_date(procedimiento.updated_at) %></td>
				<td><div class="pull-right"><%= link_to icon_tag('', :class => 'icon-pencil'), '#' %></div></td>
			</tr>
		<% end -%>
	</tbody>
</table>