<%= simple_form_for @subproceso, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :nombre %>
  <%= f.input :objetivo %>
  <%= f.input :codigo %>
  <%= f.input :cargo_id, :label => "Cargo", :collection => Cargo.all, :label_method => :nombre, :prompt => "-- Seleccione --" %>
  <%= f.input :serieproceso_id, :label => "MacroProceso", :collection => Proceso.all, :label_method => :codigo_nombre, :prompt => "-- Seleccione --" %>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', :class => 'btn btn-success' %>
    <%= link_to 'Cancelar', subprocesos_path, :class => "btn" %>
  </div>
<% end %>
