<section>


  <% if @subprocesos.present? %>
    <div>
      <p style="text-align: left;">INSTITUCIÓN:</p>

      <h3 style="text-align: center;">MODELO ESTÁNDAR DE CONTROL INTERNO - MECIP</h3>
      <h3 style="text-align: center;">COMPONENTE CORPORATIVO DE CONTROL ESTRATÉGICO</h3>

      <p style="text-align: left;">COMPONENTE: DIRECCIONAMIENTO ESTRATÉGICO</p>
      <p style="text-align: left;">ESTÁNDAR: MODELO DE GESTIÓN POR PROCESOS</p>
      <p style="text-align: left;">FORMATO: Indentificación de SubProcesos</p>
      <p style="text-align: left;">NRO: 39</p>

    </div>

    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td>(1) MACROPROCESO: <%= @proceso.macroproceso.nombre %> </td>
        <td>CODIGO: <%= @proceso.macroproceso.codigo %></td>
      </tr>
      <tr>
        <td>(2) PROCESO: <%= @proceso.nombre %> </td>
        <td>CODIGO: <%= @proceso.codigo %></td>
      </tr>
      <tr>
        <td>(3) OBJETIVO: <%= @proceso.objetivo %></td>
        <td>&nbsp;</td>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th>(4) SUBPROCESOS - CODIGO</th>
        <th>(5) OBJETIVO</th>
        <th>(6) CARGO RESPONSABLE</th>
      </tr>
      <% @subprocesos.each do |subproceso| %>
        <tr>
          <td><%= subproceso.codigo_nombre %></td>
          <td><%= subproceso.objetivo %></td>
          <td><%= subproceso.cargo.nombre %></td>
        </tr>
      <% end %>
    </table>

    <table class="table table-striped table-bordered table-condensed" style="font-size: 10px;">
      <tr>
        <td width="50%">Hecho por: </td>
        <td>Fecha: </td>
      </tr>
      <tr>
        <td>Revisado por: </td>
        <td>Fecha: </td>
      </tr>
      <tr>
        <td>Aprobado por: </td>
        <td>Fecha: </td>
      </tr>
    </table> 

  <% end %>

</section>
