<section>  
  <div class="page-header">
    <h1>Estructura</h1>
  </div>

  <div class="well">
    <div class="btn-group">
      <%= link_to icon_tag('Editar', :class => 'icon-edit icon-white'), edit_estructura_path(@estructura), :class => 'btn btn-primary' %>
      <%= link_to icon_tag('Borrar', :class => 'icon-trash icon-white'), @estructura, confirm: 'Estás seguro?', method: :delete, class: 'btn btn-primary' %>
      <%= link_to icon_tag('Ver Todos', :class => 'icon-arrow-left icon-white'), estructuras_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <p>
    <b>Organismo:</b>
    <%= @estructura.nombre %>
  </p>

  <h3>Cargos</h3>
  <% @cargos_actuales.each do |cargo| %>
  <div class="span4">
    <%= icon_tag cargo.nombre, :class => 'icon-ok' %>
  </div>
  <% end %> 

</section>
