<h2 style="text-align:center;background-color:#ccc">Macroproceso</h2>
<div class="well" style="padding: 5px;">
	<div class="span7 pull-left">
		<%= image_tag 'icons/macroproceso.png' %> <%= @macroproceso.codigo %> - <%= @macroproceso.nombre %>
	</div>
	<div class="span3 pull-right">
		<%= link_to icon_tag('Agregar', :class => 'icon-plus-sign'), new_macroproceso_path, :remote => true %>
		<%= link_to icon_tag('Editar', :class => 'icon-pencil'), 
		edit_macroproceso_path(id: @macroproceso, from: 'tree'), remote: true %>

		<%= link_to icon_tag('Eliminar', :class => 'icon-trash'), macroproceso_path(@macroproceso), 
		:title => 'Eliminar Proceso', :method => :delete, :remote => true,
		:confirm => "¿Está seguro de eliminar este proceso?.\nEsta acción no se puede revertir" %> 
	</div>
</div>
<table class="table">
	<tbody>
		<tr>
			<th>C&oacute;digo</th>
			<td><%= @macroproceso.codigo %></td>
		</tr>
		<tr>
			<th>Nombre</th>
			<td><%= @macroproceso.nombre %></td>
		</tr>
		<tr>
			<th>Objetivo</th>
			<td><%= @macroproceso.objetivo %></td>
		</tr>
		<tr>
			<th>Clasificaci&oacute;n</th>
			<td><%= @macroproceso.clasificacion %></td>
		</tr>
		<tr>
			<th>Fecha de Elaboración</th>
			<td><%= format_date(@macroproceso.created_at) %></td>
		</tr>
		<tr>
			<th>Cargo Responsable</th>
			<td><%#= @macroproceso.cargo.nombre %></td>
		</tr>		
	</tbody>
</table>

<div id="procesos">
	<table class="table">
		<thead>
			<tr style="background-color:#ccc">
				<th colspan="3" style="text-align:center;">
					<h3>Procesos</h3>					
				</th>
				<td class="add-place"><%= link_to icon_tag('Agregar', :class => 'icon-plus-sign'), new_proceso_path(:from => 'tree', :macroproceso_id => @macroproceso.id), :id => 'add-proceso', :class => 'btn pull-right', :remote => true %></td>
			</tr>
			<% if @procesos.present? %>
				<tr>
					<th colspan="2">Nombre</th>
					<th>Fecha</th>
					<th>&nbsp;</th>
				</tr>
			<% end %>
		</thead>
		<tbody id="pso-body">
			<% if @procesos.present? %>
				<% for proceso in @procesos -%>
					<tr id="pso-<%= proceso.id %>">
						<%= render 'proceso', :proceso => proceso %>
					</tr>
				<% end -%>
			<% else -%>
				<tr>
					<td colspan="4" class='alert alert-warning'>No hay registros</td>
				</tr>
			<% end -%>
		</tbody>
	</table>
</div>