<%= simple_form_for @macroproceso, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  
    <%= f.input :nombre %>
    <%= f.input :clasificacion, :collection => Macroproceso::CLASIFICACIONES.map{|c| [c,c]}, :prompt => "-- Seleccione --" %>
    <%= f.input :objetivo, :as => :text, :input_html => { :style => 'width:80%;', :rows => 7, :cols => 20  } %>
    <%= f.input :codigo %>
    <%#= f.input :cargo_id, :label => "Cargo Responsable", :collection => Cargo.all, :label_method => :nombre, :prompt => "-- Seleccione --" %>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', :class => 'btn btn-success' %>
    <%= link_to 'Cancelar', macroprocesos_path, :class => "btn" %>
  </div>
<% end %>
