<% extras = ", #{extra}: #{extra_jquery}".html_safe if extra.present? %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#<%=linked %>').live('change', function(){
      $.getJSON("<%= url %>", {<%=param%>: $(this).val()<%= extras if extras %>}, function(data){
        var opciones = '';
        if (data.data) {
          var real = data.real
          var type = data.type
          var j = data.data
        } else {
          j = data
        }
        opciones += '<option value="">-- Seleccione --</option>';

        for (var i=0; i < j.length; i++) {
          opciones += '<option value="' + j[i].<%=value%>  + '">' + j[i].<%=display%>+ '</option>';
        }
        <%= extra_code %>
        $("select#<%=nombre%>").html(opciones);
      })
    }) //change
  }) //ready
</script>