<%= simple_form_for @persona_fisica, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :nombre %>
  <%= f.input :apellido %>
  <%= f.input :documento, :label => "Documento (CI)" %>
  <%= f.input :direccion, :label => "Direcci&oacute;n" %>
  <%= f.input :telefono, :label => "Tel&eacute;fono" %>
  <%= f.input :cargo_ente_id, :collection =>  CargoEnte.all, :label_method => :nombre, :prompt => '-- Seleccione --' %>
  <%= f.input :territorio_id, :label => "Ciudad", :collection => Ciudad.all, :label_method => :nombre, :prompt => "-- Seleccione --" %>

  <%= f.input :tipo_documento_id, :as => :hidden, :input_html => { :value => "1" } %> <!-- 1 CIN -->

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', :class => 'btn btn-success' %>
    <%= link_to 'Cancelar', personas_fisicas_path, :class => "btn" %>
  </div>
<% end %>
