<h2 style="text-align:center;background-color:#ccc">Proceso</h2>
<table class="table">
	<tbody>
		<tr>
			<th>C&oacute;digo</th>
			<td><%= @proceso.codigo %></td>
		</tr>
		<tr>
			<th>Nombre</th>
			<td><%= @proceso.nombre %></td>
		</tr>
		<tr>
			<th>Objetivo</th>
			<td><%= @proceso.objetivo %></td>
		</tr>
		<tr>
			<th>Fecha de Elaboración</th>
			<td><%= format_date(@proceso.created_at) %></td>
		</tr>
		<tr>
			<th>Cargo Responsable</th>
			<td><%#= @proceso.cargo.nombre %></td>
		</tr>		
	</tbody>
</table>

<table class="table">
	<thead>
		<tr style="background-color:#ccc">
			<th colspan="3" style="text-align:center;">
				<h3>Sub-Procesos</h3>					
			</th>
			<td class="add-place"><%= link_to icon_tag('Agregar', :class => 'icon-plus-sign'), new_subproceso_path(:from => 'tree', :proceso_id => @proceso.id), :id => 'add-proceso', :class => 'btn pull-right', :remote => true %></td>
		</tr>
		<tr>
			<th>Nombre</th>
			<th>Fecha</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody id="pso-body">
		<% for subproceso in @subprocesos -%>
			<tr id="pso-<%= subproceso.id %>">
				<%= render 'procesos/subproceso', :subproceso => subproceso %>
			</tr>
		<% end -%>
	</tbody>
</table>