<section>
  <div class="page-header">
    <h1>Roles <small>Lista de roles</small></h1>
    <fieldset>
      <legend>Busqueda</legend>
      <%= form_for controller_name, :method => :get do %>
      <table>
        <tr>
          <td><%= label_tag 'Nombre'%> </td>
          <td><%= text_field_tag 'nombre', params[:nombre]%> </td>
          <td>&nbsp;</td>
          <td><%= submit_tag 'Buscar', :class => 'btn'%></td>
        </tr>
      </table>
      <% end %>
    </fieldset>
    
  </div>

  <div class="well">
    <%= link_to icon_tag('Agregar', :class => 'icon-plus-sign icon-white'), new_rol_path, :class => 'btn btn-primary' %>
  </div>
  <br />

  <% if @roles.present? %>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th>Nombre</th>

        <th></th>
      </tr>
      <% @roles.each do |rol| %>
        <tr>
                      <td><%= link_to rol.nombre, rol %></td>
                    <td>
            
            <div class="btn-group">              
              <%= link_to 'Acciones <b class="caret"></b>'.html_safe, '#', :class => 'btn btn-primary dropdown-toggle', 'data-toggle' => 'dropdown' %>
              <ul id="menu1" class="dropdown-menu">
                <li><%= link_to icon_tag('Mostrar', :class => 'icon-list-alt'), edit_rol_path(rol) %></li>
                <li><%= link_to icon_tag('Editar', :class => 'icon-pencil'), edit_rol_path(rol) %></li>
                <li><%= link_to icon_tag('Eliminar', :class => 'icon-trash'), rol, confirm: '¿Está seguro de eliminar este registro?. Esta acción no se puede deshacer', method: :delete %></li>

              </ul>              
            </div>
          </td>
        </tr>
      <% end %>
    </table> 
  <% else %>
    <p class="alert-message warning">
      Todavía no hay roles, <%= link_to 'agregar', new_rol_path %>.
    </p>
  <% end %>

</section>
