<section>
  <div class="alert-message notice" style="margin-top:20px;">    
    <p><%= notice %></p>
  </div> 

  <div class="page-header">
    <h1>rol</h1>
  </div>

   <div class="well">
    <%= link_to 'Editar', edit_rol_path(@rol), :class => 'btn primary' %>
    <%= link_to 'Borrar', @rol, confirm: 'Estás seguro?', method: :delete, class: 'btn' %>
    <%= link_to 'Ver Todos', roles_path, class: 'btn' %>
  </div>

      <p>
      <b>Nombre:</b>
      <%= @rol.nombre %>
    </p>

  </section>
