<%= simple_form_for @usuario, :html => { :class => 'form-horizontal' }  do |f| %>
  <fieldset>
    <%= f.error_notification %>
    
    
    
      <%= f.input :documento %>

      <%= f.input :nombres %>

      <%= f.input :apellidos %>

      <%= f.input :login, :label => 'Usuario' %>

      <%= f.input :email %>
      <% if @usuario.new_record? %>
      <%= f.input :password, :as => :password, :label => 'Contraseña' %>

      <%= f.input :password_confirmation, :as => :password, :label =>  'Confirmar Contraseña' %>
      <% end #if @usuario.new_record? %>
      <%= f.input :ente_id, :collection => Ente.all, :label_method => :nombre, :prompt => '-- Seleccione --', :label => "Organismo" %>

      <%= f.input :rol_id, :collection => Rol.all, :label_method => :nombre, :prompt => '-- Seleccione --' %>

    <div class="form-actions">
      <%= f.button :submit, 'Guardar', class: 'btn btn-success' %>
      <%= link_to 'Cancelar', usuarios_path, :class => "btn" %>
    </div>
  </fieldset>
  <% end %>
