<p><span style="font-weight:bold">Nombres:</span> <%= @funcionario.nombres %></p>
<p><span style="font-weight:bold">Apellidos:</span> <%= @funcionario.apellidos %></p>
<p><span style="font-weight:bold">Documento:</span> <%= @funcionario.documento %></p>
<p><span style="font-weight:bold">Direcci&oacute;n:</span> <%= @funcionario.direccion %></p>
<p><span style="font-weight:bold">Telefono:</span> <%= @funcionario.telefono %></p>
<p><span style="font-weight:bold">Ciudad:</span> <%= @funcionario.ciudad.nombre %></p>
<p><span style="font-weight:bold">Funci&oacute;n:</span> <%= @funcionario.cargo.nombre + " de " + @funcionario.estructura.nombre %></p>