<section>
  <div class="page-header">
    <h1>Editar Usuario</h1>
  </div>

  <%= simple_form_for @usuario, :url => modificar_datos_grabar_path, :html => { :class => 'form-horizontal' }  do |f| %>
    <fieldset>
      <%= f.error_notification %>

      <div class="well">
        <h3><%= @usuario.nombre_completo %></h3>
        <p><strong>Documento: <%= @usuario.documento %></strong></p>
        <p><strong>Usuario: <%= @usuario.login %></strong></p>
      </div>

      <%= f.input :nombres %>

      <%= f.input :apellidos %>

      <%= f.input :email %>

      <div class="form-actions">
        <%= f.button :submit, 'Guardar', class: 'btn btn-success' %>
          <%= link_to 'Cancelar', usuarios_path, :class => "btn" %>
        </div>
      </fieldset>
    <% end %>

  </section>
