<section>
  <!--
  <div class="alert-message notice" style="margin-top:20px;">    
    <p><%= notice %></p>
  </div> 
  -->

  <div class="page-header">
    <h1>usuario</h1>
  </div>

  <div class="well">
    <%= link_to icon_tag('Editar', :class => 'icon-pencil icon-white'), edit_usuario_path(@usuario), :class => 'btn btn-primary' %>
    <%= link_to icon_tag('Cambiar Clave', :class => 'icon-lock icon-white'), cambiar_clave_path(@usuario), method: :cambiar_clave, class: 'btn btn-primary' %>
    <%= link_to icon_tag('Modificar Datos', :class => 'icon-edit icon-white'), modificar_datos_path(@usuario), method: :modificar_datos, class: 'btn btn-primary' %>
    <%= link_to icon_tag('Borrar', :class => 'icon-trash icon-white'), @usuario, confirm: 'Estás seguro?', method: :delete, class: 'btn btn-primary' %>
    <%= link_to icon_tag('Listar Usuarios', :class => 'icon-eye-open icon-white'), usuarios_path, :class => 'btn btn-primary' %>
        </div>
        <p>

        <dl>
          <dt>Usuario</dt>
          <dd><%= @usuario.login %></dd>

          <dt>E-mail</dt>
          <dd><%= @usuario.email %></dd>

          <dt>Nombre(s)</dt>
          <dd><%= @usuario.nombres %></dd>

          <dt>Apellido(s)</dt>
          <dd><%= @usuario.apellidos %></dd>

          <dt>Documento</dt>
          <dd><%= @usuario.documento %></dd>

          <dt>Organismo</dt>
          <dd><%#= @usuario.ente.nombre %> debe mostrarse el Cargo que desempenha en el organismo</dd>

          <dt>Rol</dt>
          <dd><%= @usuario.rol.nombre %></dd>
        </dl>

      </p>


      </section>
