<h2 style="text-align:center;background-color:#ccc" class="detail-title">Procedimiento <%= '(Terminado)' if @procedimiento.por_autorizar? %></h2>
<div class='well' style='padding: 5px;'>
	<div class="span6 pull-left">
		<%= image_tag 'icons/procedimiento.png' %> <%= @procedimiento.nombre %>
	</div>
	<div class="span4 pull-right">
      <%= link_to icon_tag('Comprobar y Terminar', class: 'icon-check'),
            comprobar_procedimiento_path(procedimiento_id: @procedimiento.id), remote: true%>

		<%= link_to icon_tag('Editar', :class => 'icon-pencil'), 
		edit_procedimiento_path(id: @procedimiento, from: 'tree'), remote: true %>

		<%= link_to icon_tag('Eliminar', :class => 'icon-trash'), procedimiento_path(@procedimiento), 
		:title => 'Eliminar procedimiento', :method => :delete, :remote => true,
		:confirm => "¿Está seguro de eliminar este procedimiento?.\nEsta acción no se puede revertir" %> 
	</div>
</div>
<table class="table">
	<tbody>
		<tr>
			<th>Nombre</th>
			<td><%= @procedimiento.nombre %></td>
		</tr>
		<tr>
			<th>Objetivo</th>
			<td><%= @procedimiento.objetivo %></td>
		</tr>
		<tr>
			<th>Fecha de Elaboración</th>
			<td><%= format_date(@procedimiento.elabora_fecha) if @procedimiento.elabora_fecha? %></td>
		</tr>
		<tr>
			<th>Elaborado por</th>
			<td><%= @procedimiento.elaborador.nombre_completo %></td>
		</tr>
		<% if @procedimiento.aprobado? -%>
			<tr>
				<th>Fecha de Aprobación</th>
				<td><%= format_date(@procedimiento.aprobado_fecha) %></td>
			</tr>
			<tr>
				<th>Aprobado por</th>
				<td><%= @procedimiento.aprobador.nombre_completo %></td>
			</tr>
		<% end -%>
		<tr>
			<th>Definiciones</th>
			<td><%= @procedimiento.definiciones %></td>
		</tr>
	</tbody>
</table>

<table class="table">
	<thead>
		<tr style="background-color:#ccc">
			<th colspan="3" style="text-align:center;"><h3>Actividades</h3></th>
			<td class="add-place"><%= link_to icon_tag('Agregar', :class => 'icon-plus-sign'), new_actividad_path(:from => 'tree', :procedimiento_id => @procedimiento.id), :id => 'add-proceso', :class => 'btn pull-right', :remote => true %></td>
		</tr>
		<% if @actividades.present? -%>
			<tr>
				<th>Orden</th>
				<th>Nombre</th>
				<th>Fecha</th>
				<th>&nbsp;</th>
			</tr>
		<% end -%>
	</thead>
	<tbody id='pso-body'>
		<% if @actividades.present? -%>
			<% for actividad in @actividades -%>
				<tr id="pso-<%= actividad.id %>">
					<%= render 'actividad', actividad: actividad %>
				</tr>
			<% end -%>
		<% else -%>
			<tr>
				<td colspan="4" class='alert alert-warning'>No hay registros</td>
			</tr>
		<% end -%>
	</tbody>
</table>