<%= form_for @procedimiento, remote: true, html: { class: 'form-horizontal form_remote', :id => 'form_procedimiento' } do |f| %>
  <% if @procedimiento.errors.present? %>
    <div class="alert alert-block alert-error">
      <h4>No se ha podido guardar el registro, verifique lo siguiente:</h4>
      <ul>
        <% @procedimiento.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :nombre, required_label('Nombre'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, class: 'validate[required]' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :objetivo, required_label('Objetivo'), class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :objetivo, :style => 'width:80%;', :rows => 7, :cols => 20, class: 'validate[required]' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :definiciones, 'Definiciones', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :definiciones %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :elabora_fecha, 'Fecha de Elaboración', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :elabora_fecha, :class => 'date_picker' %>
    </div>
  </div>

  <%= f.hidden_field :serieproceso_id, :value => @subproceso_id %>

<% end %>

<script>
  $(function(){
    $('.form_remote').validationEngine();
  })
</script>