<section>
  <div class="page-header">
    <h1>Procedimientos <small>Control de Cambios</small></h1>
  </div>

	<ul class="nav nav-tabs" id="myTab">
	  <li class="active">
	    <a href="#pendientes">Pendientes de Aprobación</a>
	  </li>
	  <li><a href="#aprobados">Aprobados</a></li>
	  <li><a href="#borradores">Borradores</a></li>
	</ul>

	<div class="tab-content">
	  <div class="tab-pane active" id="pendientes">
	  	<h4>Lista de Procedimientos Pendientes de Aprobación</h4>
	  	<% if @a_aprobar.present? %>
		  	<table class="table table-striped table-bordered table-condensed">
		  		<thead>
		  			<tr>
		  			  <th>Nombre</th>
		  				<th class='span2'>Última modificación</th>
              <th class='span1'></th>
		  			</tr>
		  		</thead>
		  		<tbody>
						<% @a_aprobar.each do |a_aprobar| %>
							<tr>
								<td><%= link_to a_aprobar.nombre, procedimiento_path(a_aprobar) %></td>
								<td><%= l(a_aprobar.updated_at) %></td>
                <td><%= link_to 'Aprobar', aprobar_procedimiento_path(id: a_aprobar.id, tipo: 'aprobar'), :class => 'btn btn-primary' %></td>
							</tr>
		  			<% end %>
		  		</tbody>
		  	</table>		  	
	  	<% else %>
	  		<p class='alert alert-warning'>No hay registros</p>
	  	<% end %>	  	
	  </div>
	  <div class="tab-pane" id="aprobados">
	  	<h4>Lista de Procedimientos Aprobados</h4>
	  	<% if @aprobados.present? %>
		  	<table class="table table-striped table-bordered table-condensed">
		  		<thead>
		  			<tr>
		  				<th>Nombre</th>
              <th class='span2'>Última modificación</th>
              <th class='span1'></th>
            </tr>
		  		</thead>
		  		<tbody>
						<% @aprobados.each do |aprobado| %>
							<tr>
								<td><%= link_to aprobado.nombre, procedimiento_path(aprobado) %></td>
								<td><%= l(aprobado.updated_at) %></td>
                <td>
                  <%= link_to 'Desaprobar', aprobar_procedimiento_path(id: aprobado.id, tipo: 'desaprobar'),
                              :class => 'btn btn-primary', confirm: '¿Está seguro de desaprobar?' %>
                </td>
							</tr>
		  			<% end %>
		  		</tbody>
		  	</table>		  	
	  	<% else %>
	  		<p class='alert alert-warning'>No hay registros</p>
	  	<% end %>	 
	  </div>
	  <div class="tab-pane" id="borradores">
      <h4>Lista de Procedimientos Aprobados</h4>
      <% if @borradores.present? %>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Última modificación</th>
          </tr>
          </thead>
          <tbody>
          <% @borradores.each do |borrador| %>
            <tr>
              <td><%= link_to borrador.nombre, procedimiento_path(borrador) %></td>
              <td><%= l(borrador.updated_at) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <p class='alert alert-warning'>No hay registros</p>
      <% end %>
	  </div>
	</div>
</section>

<% content_for :javascripts do %>
<script type="text/javascript">
	$(function(){
		$('#myTab a').click(function (e) {
		  e.preventDefault();
		  $(this).tab('show');
		});
	})
</script>
<% end %>