<div class="span5 left-panel">
	<div class="reference bordered">
		<ul>
			<li class="span2"><%= image_tag 'icons/macroproceso.png' %> Macroproceso</li>
			<li class="span2"><%= image_tag 'icons/proceso.png' %> Proceso</li>
			<li class="span2"><%= image_tag 'icons/subproceso.png' %> Sub-Proceso</li>
			<li class="span2"><%= image_tag 'icons/procedimiento.png' %> Procedimiento</li>
			<li class="span2"><%= image_tag 'icons/actividad.png' %> Actividad</li>
			<li class="span2"><%= image_tag 'icons/tarea.png' %> Tarea</li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="search bordered" style="margin:3px 0">		
			<%= text_field_tag :text, nil, :placeholder => 'Buscar', :class => 'input-xlarge' %>
			<button type="submit" class="btn" id="search">Buscar</button>			
			<button class="btn" id="clear_search">Limpiar</button>			
	</div>

	<div id="main" class="bordered">
		
	</div>
</div>

<div class="span11 pull-right bordered right-panel" id="contenido">
	<p class="descipt"></p>
	<table class="table table-condensed">
		<tr>
			<th>Id</th>
			<td id="id"></td>
		</tr>
		<tr>
			<th>Nombre</th>
			<td id="nombre"></td>
		</tr>
		<tr>
			<th>Objetivo</th>
			<td id="objetivo"></td>
		</tr>
		<tr>
			<th>Definiciones</th>
			<td id="definiciones"></td>
		</tr>
		<tr>
			<th>Clasificaci贸n</th>
			<td id="clasificacion"></td>
		</tr>
		<tr>
			<th>C贸digo</th>
			<td id="codigo"></td>
		</tr>
		<tr>
			<th>Fecha de Elaboraci贸n</th>
			<td id="fecha_elaboracion"></td>
		</tr>
		<tr>
			<th>Cargo Responsable</th>
			<td id="cargo"></td>
		</tr>
	</table>
	<hr />
	<table class="table table-condensed" id="children">
		<thead>
			<tr>
				<th>Id</th>
				<th>C贸digo</th>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody id="children_body">

		</tbody>
	</table>
</div>