<section>  
  <div class="page-header">
    <h1>Procedimiento</h1>
  </div>

  <div class="well">
    <table>
      <tbody>
        <tr>
          <th>Formato:</th>
          <td>Nro. 93 - DISEÑO DE PROCEDIMIENTOS</td>
        </tr>
        <tr>
          <th>Macroproceso:</th>
          <td><%= @procedimiento.subproceso.present? ? @procedimiento.subproceso.proceso.macroproceso.nombre : @procedimiento.proceso.macroproceso.nombre %></td>
        </tr>
        <tr>
          <th>Proceso:</th>
          <td><%= @procedimiento.subproceso.present? ? @procedimiento.subproceso.proceso.nombre : @procedimiento.proceso.nombre %></td>
        </tr>
        <tr>
          <th>SubProceso:</th>
          <td><%= @procedimiento.subproceso.nombre if @procedimiento.subproceso.present? %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="body">
    <table class="table table-bordered table-condense">
      <thead>
        <tr>
          <th>Nro.</th>
          <th>Actividades</th>
          <th>Tareas</th>
          <th>Método</th>
          <th>Cargo Responsable</th>
        </tr>
      </thead>
      <tbody>
      <% act_ant = "" %>
      <% @procedimiento.actividades.order('orden').each_with_index do |actividad,i| %>
        <% actividad.tareas.order('orden').each do |tarea| %>
          <tr>
            <% if act_ant != actividad.id %>
            <td rowspan="<%= actividad.tareas.count %>"><%= i.next %></td>
            <td rowspan="<%= actividad.tareas.count %>"><%= actividad.nombre %></td>
            <% act_ant = actividad.id %>
            <% end %>
            <td class="lborder"><%= tarea.nombre %></td>
            <td><%= tarea.metodo %></td>
            <td><%= tarea.cargo_estructura.descripcion %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>


</section>

<style>
  table td.lborder { border-left: 1px solid #ddd; }
</style>