<%= simple_form_for @tarea, :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <% tareas_anteriores = Tarea.tareas_anteriores(params[:actividad_id], @tarea.id) %>
  <% if tareas_anteriores.present? %>
    <div class="control-group integer required">
      <%= label_tag :ant_id, raw("#{content_tag(:abbr, '*', :title => 'requerido')} Tarea Anterior"), :class => 'integer required' %>

      <div class="controls">
        <%= f.collection_select :tarea_anterior_id, tareas_anteriores, :id, :nombre, {}, { :class => 'numeric integer required'} %>
      </div>
    </div>  
  <% end %>
  <%= f.input :orden, :as => :hidden,  :input_html => { :value => "1" }  %> 
  <%= f.input :nombre %>
  <%= f.input :metodo %>
  <%= f.input :tiempo_ejecucion %>
  <%= f.input :unidad_tiempo_id %>
  <%= f.input :tipo, :collection => Tarea::TIPO_TAREA.map{|c| [c,c]}, :prompt => "-- Seleccione --" %>
  <%= f.input :cargo_id, :label => "Cargo", :collection => Cargo.all, :label_method => :nombre, :prompt => "-- Seleccione --" %>
  <%#= f.input :tarea_sgt_id %>
  <%#= f.input :tarea_alt_id %>
  <!--
  arreglar aca para cuando sea un nuevo tome del parametro
  :as => :hidden
  -->

  <% if @tarea.actividad_id.present? %>
    <%= f.input :actividad_id, :as => :hidden %>
  <% else %>
    <%= f.input :actividad_id, :as => :hidden,  :input_html => { :value => "4" }  %> 
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', :class => 'btn btn-success' %>
    <%#= link_to 'Cancelar', tareas_path(:actividad_id => params[:actividad_id]), :class => "btn" %>
    <%= link_to 'Cancelar', listar_tareas_path(:id => @tarea.actividad_id), :remote => true, :class => "btn" %>
  </div>
<% end %>
